/* CSS Styles */
.media {
  display: flex;
  border: 1px solid brown;
}

.media-image {
  /* Style your image container here */
  background-image: url("https://images.unsplash.com/photo-1511381939415-e44015466834?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3372&q=80");
  background-size: cover;
  /* Other image styling properties */
  border: 1px solid blue;
}

.media-content {
  /* Style your text container here */
  flex-grow: 1; /* Text fills available space */
  padding: 20px;
  border: 1px solid red;

  /* Other text styling properties */
}
